In [4]:
import pandas

In [97]:
# opsional dijalankan hanya ketika error saat read excel
pip install xlrd

 ### Contoh Stopword

In [92]:
dfStopword = pandas.read_excel('stopword - 209.xls')

dfStopword

    stopword
0        ada
1     adalah
2     adapun
3       agak
4       agar
..       ...
204     wong
205       ya
206    yaitu
207    yakni
208     yang

[209 rows x 1 columns]

In [14]:
# regular expression (regex)
import re

In [84]:
textTweet = 'belajar di rumah'
# Output yang diharapkan : 'belajar  rumah'

for index in range(len(dfStopword['stopword'])):
    if dfStopword['stopword'][index] in textTweet:
        # TRUE
        # sub = substring
        textTweet = re.sub(R'\b{}\b'.format(dfStopword['stopword'][index]), ' ', textTweet)

textTweet

'belajar  rumah'

### Contoh Slangword

In [67]:
dfSlangword = pandas.read_excel('tbl_slangword -- 1725.xls')

# Menambahkan kata slangword
# dfSlangword = dfSlangword.append({'slangword': 'b4l4j4r', 'kata_asli': 'belajar'}, ignore_index=True)

dfSlangword

     slangword  kata_asli
0       ababil  abg labil
1      aberasi     abrasi
2         abis      habis
3          acc     sesuai
4       accord     sesuai
...        ...        ...
1720     zinah       zina
1721     zohir      lahir
1722      zonk      bodoh
1723     zygot      zigot
1724    zygote      zigot

[1725 rows x 2 columns]

In [93]:
textTweet = 'abis mandi ku terus tidur acc'
# Output yang diharapkan : 'habis mandi ku terus tidur sesuai'

for index in range(len(dfSlangword['slangword'])):
    if dfSlangword['slangword'][index] in textTweet:
        # sub = substring
        textTweet = re.sub(R'\b{}\b'.format(dfSlangword['slangword'][index]), dfSlangword['kata_asli'][index], textTweet)

textTweet

'habis mandi ku terus tidur sesuai'

In [95]:
tweet = 'BELAJAR dari di rumah BOSEN, \nkyk mo meninggal.\nPukul 13:00 WIB \n\n@PriandiMus \n\nhttps://www.google.com/ \n#belajar #rumah #di #berlajar'
# OUTPUT YANG DIHARAPKAN : 'belajar rumah bosan, seperti mau mati'

print(tweet)

BELAJAR dari di rumah BOSEN,
kyk mo meninggal.
Pukul 13:00 WIB

@PriandiMus

https://www.google.com/
#belajar #rumah #di #berlajar

#### 1. CASEFOLDING yaitu proses pengubahan seluruh huruf menjadi huruf kecil (lowercase)

In [96]:
# PHP : strtolower ( string $string );
tweet = tweet.lower()

print(tweet)

belajar dari di rumah bosen,
kyk mo meninggal.
pukul 13:00 wib

@priandimus

https://www.google.com/
#belajar #rumah #di #berlajar

#### 2. CLEANSING yaitu proses yang bertujuan untuk menghapus atributyang tidak diperlukan untuk analisis analisis

#### 3. Mengubah SLANGWORD yaitu proses pengubahan kata yang tidaksesuai dengan ejaan bahasa Indonesia yang baku (EYD) baik berupa kata singkatan ,kata gaul atau modern, ataupun kesalahan salah eja

#### 4. Menghapus STOPWORD yaitu proses penghapusan kata yang tidak berpengaruh atau kurang bermakna namun sering ditemui dalam dokumen atau kalimat

#### 5. STEMMING yaitu proses mengubah kata berimbuhan menjadi kata dasar