In [5]:
import pandas

 ### Contoh Stopword

In [6]:
dfStopword = pandas.read_excel('stopword - 209.xls')

dfStopword

    stopword
0        ada
1     adalah
2     adapun
3       agak
4       agar
..       ...
204     wong
205       ya
206    yaitu
207    yakni
208     yang

[209 rows x 1 columns]

In [7]:
# regular expression (regex)
import re

In [8]:
textTweet = 'belajar di rumah'
# Output yang diharapkan : 'belajar  rumah'

for index in range(len(dfStopword['stopword'])):
    if dfStopword['stopword'][index] in textTweet:
        # TRUE
        # sub = substring
        textTweet = re.sub(R'\b{}\b'.format(dfStopword['stopword'][index]), ' ', textTweet)

textTweet

'belajar   rumah'

### Contoh Slangword

In [9]:
dfSlangword = pandas.read_excel('tbl_slangword -- 1725.xls')

# Menambahkan kata slangword
dfSlangword = dfSlangword.append(
    {'slangword': 'bosen', 'kata_asli': 'bosan'}, ignore_index=True
)

dfSlangword

     slangword  kata_asli
0       ababil  abg labil
1      aberasi     abrasi
2         abis      habis
3          acc     sesuai
4       accord     sesuai
...        ...        ...
1721     zohir      lahir
1722      zonk      bodoh
1723     zygot      zigot
1724    zygote      zigot
1725     bosen      bosan

[1726 rows x 2 columns]

In [10]:
textTweet = 'abis mandi ku terus tidur acc'
# Output yang diharapkan : 'habis mandi ku terus tidur sesuai'

for index in range(len(dfSlangword['slangword'])):
    if dfSlangword['slangword'][index] in textTweet:
        # sub = substring
        textTweet = re.sub(R'\b{}\b'.format(dfSlangword['slangword'][index]), dfSlangword['kata_asli'][index], textTweet)

textTweet

'habis mandi ku terus tidur sesuai'

In [11]:
tweet = 'BELAJAR dari di rumah BOSEN, \nkyk mo meninggal.\nPukul 13:00 WIB \n\n@PriandiMus \n\nhttps://www.google.com/ #belajar #rumah #di #berlajar'
# OUTPUT YANG DIHARAPKAN : 'belajar rumah bosan, seperti mau mati'

print(tweet)

BELAJAR dari di rumah BOSEN,
kyk mo meninggal.
Pukul 13:00 WIB

@PriandiMus

https://www.google.com/ #belajar #rumah #di #berlajar

#### 1. CASEFOLDING yaitu proses pengubahan seluruh huruf menjadi huruf kecil (lowercase)

In [12]:
# PHP : strtolower ( $tweet );
tweet = tweet.lower()

print(tweet)

belajar dari di rumah bosen,
kyk mo meninggal.
pukul 13:00 wib

@priandimus

https://www.google.com/ #belajar #rumah #di #berlajar

#### 2. CLEANSING yaitu proses yang bertujuan untuk menghapus atributyang tidak diperlukan untuk analisis analisis

In [13]:
# SUB 1 :  Mengahpus URL (^http)
tweet = re.sub('http\S+', ' ', tweet)

print(tweet)

belajar dari di rumah bosen,
kyk mo meninggal.
pukul 13:00 wib

@priandimus

  #belajar #rumah #di #berlajar

In [14]:
# SUB 2 :  Menghapus MENTION (^@)
tweet = re.sub('@\S+', ' ', tweet)

print(tweet)

belajar dari di rumah bosen,
kyk mo meninggal.
pukul 13:00 wib



  #belajar #rumah #di #berlajar

In [15]:
# SUB 3 :  Menghapus HASTAG (^#)
tweet = re.sub('#\S+', ' ', tweet)

print(tweet)

belajar dari di rumah bosen,
kyk mo meninggal.
pukul 13:00 wib

In [16]:
import string

In [17]:
# SUB 4 :  Menghapus SELAIN HURUF ([a-z ])
tweet = re.sub('[^a-z]', ' ', tweet)


# SUB TAMBAHAN :  Menghapus angka
# tweet = re.sub('\d+', ' ', tweet)

# SUB TAMBAHAN :  Menghapus tanda baca
# tweet = tweet.translate(str.maketrans(' ', ' ', string.punctuation))

print(tweet)

belajar dari di rumah bosen   kyk mo meninggal  pukul       wib

In [18]:
# PHP = trim()

# Menghapus spasi berlebih di akhir kata
tweet = tweet.strip()
# Menghapus spasi berlebih di antara kata (\s+ == spasi)
tweet = re.sub('\s+', ' ', tweet)

print(tweet)

belajar dari di rumah bosen kyk mo meninggal pukul wib

#### 3. Mengubah SLANGWORD yaitu proses pengubahan kata yang tidaksesuai dengan ejaan bahasa Indonesia yang baku (EYD) baik berupa kata singkatan ,kata gaul atau modern, ataupun kesalahan salah eja

In [19]:
for index in range(len(dfSlangword['slangword'])):
    if dfSlangword['slangword'][index] in tweet:
        # sub = substring
        tweet = re.sub(R'\b{}\b'.format(dfSlangword['slangword'][index]), dfSlangword['kata_asli'][index], tweet)
        
tweet

'belajar dari di rumah bosan seperti mau meninggal pukul wib'

#### 4. Menghapus STOPWORD yaitu proses penghapusan kata yang tidak berpengaruh atau kurang bermakna namun sering ditemui dalam dokumen atau kalimat

In [20]:
for index in range(len(dfStopword['stopword'])):
    if dfStopword['stopword'][index] in tweet:
        # TRUE
        # sub = substring
        tweet = re.sub(R'\b{}\b'.format(dfStopword['stopword'][index]), '', tweet)

print(tweet)

belajar   rumah bosan seperti  meninggal pukul

#### 5. STEMMING yaitu proses mengubah kata berimbuhan menjadi kata dasar

In [21]:
# import StemmerFactory class
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# create stemmer / inisialisasi
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [22]:
tweet = stemmer.stem( tweet )

print(tweet)

ajar rumah bosan seperti tinggal pukul

In [23]:
dataFrame = pandas.read_excel('crawling-10-05-2021.xls')

dataFrame

,id,username,tweet,dibuat pada
0,1391661396710990080,mainanbukuanak,Seri Adab Berbicara - Diskon 20% menjadi Rp.20...,Mon May 10 07:48:27 +0000 2021
1,1391622121260944896,mainanbukuanak,Seri Adab Bepergian - Diskon 20% menjadi Rp.20...,Mon May 10 05:12:23 +0000 2021
2,1391620064755912960,kelaskitadotcom,Minum aer di pinggir kota (cakep)\nAda THR nih...,Mon May 10 05:04:13 +0000 2021
3,1391585265995588096,mainanbukuanak,Seri Adab Belajar - Diskon 20% menjadi Rp.2000...,Mon May 10 02:45:56 +0000 2021
4,1391581883310345984,diskominfolutim,"Optimalkan Program Proritas, Bupati Budiman Fo...",Mon May 10 02:32:29 +0000 2021

#### PREPROCESSING BANYAK TWEET(S)

In [24]:
cleanText = [] # wadah (list) kosong

for data in dataFrame['tweet']:
    #     CASE FOLDING
    tweet = data.lower()
    
    #     CLEANSING
    #     tweet = re.sub('http\S+', ' ', tweet)
    #     tweet = re.sub('@\S+', ' ', tweet)
    #     tweet = re.sub('#\S+', ' ', tweet)
    tweet = re.sub('http\S+|@\S+|#\S+', ' ', tweet)
    tweet = re.sub('[^a-z]', ' ', tweet)
    tweet = tweet.strip()
    tweet = re.sub('\s+', ' ', tweet)
    
    #     SLANGWORD
    for index in range(len(dfSlangword['slangword'])):
        if dfSlangword['slangword'][index] in tweet:
            tweet = re.sub(R'\b{}\b'.format(dfSlangword['slangword'][index]), dfSlangword['kata_asli'][index], tweet)
    
    #     STOPWORD
    for index in range(len(dfStopword['stopword'])):
        if dfStopword['stopword'][index] in tweet:
            tweet = re.sub(R'\b{}\b'.format(dfStopword['stopword'][index]), '', tweet)
    
    #     STEMMING
    tweet = stemmer.stem( tweet )
    
    cleanText.append( tweet )

cleanText

['seri adab bicara diskon jadi rp gratis ongkos kirim rb seluruh indonesia sinopsis bicara gema gina tidak bohong indah',
 'seri adab pergi diskon jadi rp gratis ongkos kirim rb seluruh indonesia sinopsis lila kesal lupa bawa main pasir pantai',
 'minum aer pinggir kota cakep thr kelaskita cek instagram',
 'seri adab ajar diskon jadi rp gratis ongkos kirim rb seluruh indonesia sinopsis nilai ulang hari jelek aku hanya dapat angka',
 'optimal program proritas bupati budiman fokus benah kerja asn berita lengkap']

In [25]:
dataFrame['text bersih'] = cleanText

dataFrame

,id,username,tweet,dibuat pada,text bersih
0,1391661396710990080,mainanbukuanak,Seri Adab Berbicara - Diskon 20% menjadi Rp.20...,Mon May 10 07:48:27 +0000 2021,seri adab bicara diskon jadi rp gratis ongkos ...
1,1391622121260944896,mainanbukuanak,Seri Adab Bepergian - Diskon 20% menjadi Rp.20...,Mon May 10 05:12:23 +0000 2021,seri adab pergi diskon jadi rp gratis ongkos k...
2,1391620064755912960,kelaskitadotcom,Minum aer di pinggir kota (cakep)\nAda THR nih...,Mon May 10 05:04:13 +0000 2021,minum aer pinggir kota cakep thr kelaskita cek...
3,1391585265995588096,mainanbukuanak,Seri Adab Belajar - Diskon 20% menjadi Rp.2000...,Mon May 10 02:45:56 +0000 2021,seri adab ajar diskon jadi rp gratis ongkos ki...
4,1391581883310345984,diskominfolutim,"Optimalkan Program Proritas, Bupati Budiman Fo...",Mon May 10 02:32:29 +0000 2021,optimal program proritas bupati budiman fokus ...

In [26]:
dataFrame.to_excel('preprocessing.xlsx', index=False)