### Pre-requirements

In [3]:
import pandas

In [ ]:
pip install xlrd
pip install openpyxl

#### Import Kamus Kata Positif

In [4]:
dataFrameKataPositif = pandas.read_excel('tbl_lexicon_positive - 1105.xls')

dataFrameKataPositif

     positive_word
0                a
1            absah
2          absolut
3           accord
4              acu
...            ...
1100           yay
1101          yeah
1102         yihaa
1103         zakat
1104         zikir

[1105 rows x 1 columns]

#### Import Kamus Kata Negatif

In [5]:
dataFrameKataNegatif = pandas.read_excel('tbl_lexicon_negative - 2240.xls')

dataFrameKataNegatif

     negative_word
0             abai
1         abnormal
2           absurd
3             abur
4             acak
...            ...
2235           zai
2236         zalim
2237          zina
2238         zinah
2239        zionis

[2240 rows x 1 columns]

## Sampel Pelabelan Data

In [6]:
textTweet = 'ekonomi indonesia sedang dalam tumbuh yang bangga kurang acak'

#### 1. Menghitung jumlah kata positif

In [7]:
jumlahPositif = 0

for kataTweet in textTweet.split():    # tokenizing
    # Hitung jumlah kata positif
    for kataPositif in dataFrameKataPositif['positive_word']:    # loop data kata positif
        if kataTweet == kataPositif:
            jumlahPositif += 1
            print(kataPositif, end=', ')     # mencetak kata positif yang ditemukan
            break

print('\n')
print(jumlahPositif)

dalam, tumbuh, bangga,

3

#### 2. Menghitung jumlah kata negatif

In [8]:
jumlahNegatif = 0

for kataTweet in textTweet.split():    # tokenizing
    # Hitung jumlah kata negaitf
    for kataNegatif in dataFrameKataNegatif['negative_word']:    # loop data kata negatif
        if kataTweet == kataNegatif:
            jumlahNegatif += 1
            print(kataNegatif, end=', ')     # mencetak kata negatif yang ditemukan
            break

print('\n')
print(jumlahNegatif)

kurang, acak,

2

#### 3. Menghitung Skor
### 𝑆𝑘𝑜𝑟 = (∑ 𝐾𝑎𝑡𝑎 𝑃𝑜𝑠𝑖𝑡𝑖𝑓 ) − (∑ 𝐾𝑎𝑡𝑎 𝑁𝑒𝑔𝑎𝑡𝑖𝑓 )

In [9]:
skor = 0

skor = jumlahPositif - jumlahNegatif

print(skor)

1

#### 4. Menentukan label sentimen

In [10]:
label = ''

if skor > 0:
    label = 'POSITIF'
elif skor < 0:
    label = 'NEGATIF'
else:   # skor == 0
    label = 'NETRAL'

print(label)

POSITIF


# [Bagian Utama] Pelabelan Data

#### Import Data Yang Akan Diberkan Label

In [11]:
dataFramePreprocessing = pandas.read_excel('preprocessing.xls')

dataFramePreprocessing

,id,username,tweet,dibuat pada,text bersih
0,1391661396710990080,mainanbukuanak,Seri Adab Berbicara - Diskon 20% menjadi Rp.20...,Mon May 10 07:48:27 +0000 2021,seri adab bicara diskon jadi rp gratis ongkos ...
1,1391622121260944896,mainanbukuanak,Seri Adab Bepergian - Diskon 20% menjadi Rp.20...,Mon May 10 05:12:23 +0000 2021,seri adab pergi diskon jadi rp gratis ongkos k...
2,1391620064755912960,kelaskitadotcom,Minum aer di pinggir kota (cakep)\nAda THR nih...,Mon May 10 05:04:13 +0000 2021,minum aer pinggir kota cakep thr kelaskita cek...
3,1391585265995588096,mainanbukuanak,Seri Adab Belajar - Diskon 20% menjadi Rp.2000...,Mon May 10 02:45:56 +0000 2021,seri adab ajar diskon jadi rp gratis ongkos ki...
4,1391581883310345984,diskominfolutim,"Optimalkan Program Proritas, Bupati Budiman Fo...",Mon May 10 02:32:29 +0000 2021,optimal program proritas bupati budiman fokus ...

#### Program utama pelabel data

In [12]:
labelType = []

for tweet in dataFramePreprocessing['text bersih']:
    
    jumlahPositif = 0
    jumlahNegatif = 0
    skor = 0
    label = ''
    
    for kataTweet in tweet.split():
    
        # Hitung jumlah kata positif
        for kataPositif in dataFrameKataPositif['positive_word']:    # loop data kata positif
            if kataTweet == kataPositif:
                jumlahPositif += 1
                break
    
        # Hitung jumlah kata negatif
        for kataNegatif in dataFrameKataNegatif['negative_word']:    # loop data kata negatif
            if kataTweet == kataNegatif:
                jumlahNegatif += 1
                break
    
    # hitung skor
    skor = jumlahPositif - jumlahNegatif
    
    # tentukan label
    if skor > 0:
        label = 'POSITIF'
    elif skor < 0:
        label = 'NEGATIF'
    else:    # skor == 0
        label = 'NETRAL'
    
    
    labelType.append( label )

    
labelType

['POSITIF', 'NEGATIF', 'NETRAL', 'NETRAL', 'POSITIF']

#### Sisipkan label pada file excel

In [13]:
dataFramePreprocessing['label sentimen'] = labelType

dataFramePreprocessing

# dataFramePreprocessing.to_excel('labeling.xlsx', index=False)

,id,username,tweet,dibuat pada,text bersih,label sentimen
0,1391661396710990080,mainanbukuanak,Seri Adab Berbicara - Diskon 20% menjadi Rp.20...,Mon May 10 07:48:27 +0000 2021,seri adab bicara diskon jadi rp gratis ongkos ...,POSITIF
1,1391622121260944896,mainanbukuanak,Seri Adab Bepergian - Diskon 20% menjadi Rp.20...,Mon May 10 05:12:23 +0000 2021,seri adab pergi diskon jadi rp gratis ongkos k...,NEGATIF
2,1391620064755912960,kelaskitadotcom,Minum aer di pinggir kota (cakep)\nAda THR nih...,Mon May 10 05:04:13 +0000 2021,minum aer pinggir kota cakep thr kelaskita cek...,NETRAL
3,1391585265995588096,mainanbukuanak,Seri Adab Belajar - Diskon 20% menjadi Rp.2000...,Mon May 10 02:45:56 +0000 2021,seri adab ajar diskon jadi rp gratis ongkos ki...,NETRAL
4,1391581883310345984,diskominfolutim,"Optimalkan Program Proritas, Bupati Budiman Fo...",Mon May 10 02:32:29 +0000 2021,optimal program proritas bupati budiman fokus ...,POSITIF